@charset "UTF-8";

@font-face {
  font-family: "galmat";
  src: url("galmat.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "kyuri";
  src: url("kyuri.ttf") format("truetype");
  font-weight: normal;
}

body {
  margin: 2%;
  padding: 2%;
}
.stamp {
  text-align: right;
  vertical-align: bottom;
  font-family: "함초롬바탕", "함초롬돋움";
}
p {
  font-family: "함초롬바탕", "함초롬돋움";
}
#comment {
  min-height: 100px;
  scrollbar-color: #c0c5cd;
}

.COMT {
  margin-top: 5px;
  margin-right: 0px;
  background: #e3e8f8;
  color: #000;
  padding: 20px;
  padding-bottom: 10px;
  outline: 0;
  border-radius: 5px;
  text-align: left;
  box-shadow: 1px 1px 2px gray;
  background-size: 50%;
  transition: transform 0.25s;
}
.fill {
  font-family: "함초롬바탕", "함초롬돋움";
  font-size: medium;
  background-color: #fff;
  color: #000;
  padding: 20px;
  margin-top: 5px;
  outline: 0;
  border-radius: 5px;
  text-align: left;
  background-size: 50%;
  transition: transform 0.25s;
}

.commT {
  border: 0;
  font-family: "kyuri", "함초롬돋움";
  font-size: x-large;
  border-spacing: 0px;
  border-collapse: collapse;
  border-style: none;
  padding: 0px;
}
.content {
  padding: 1%;
  margin: 1%;
}
